.interval {
  padding-top: 7px;
  height: 30px;
  /*flex: 3;*/
}
.activeRow {
  color: red;
  font-size: 20px;
  padding-top: 2px;
  padding-left: 5px;
}
.activeSeconds {
  font-size: 20px;
  font-weight: bold;
  padding-top: 2px;
  /*flex: 2;*/
}
.inactiveRow {
  padding: 5px;
}
.separator {
  height: 1px;
  backgroundColor: '#dddddd';
}
.intervalRow {
  /*flexDirection: 'row';*/
  width: 300px;
}

.headerSquare {
  float: left;
  position: relative;
  width: 24%;
  padding-bottom: 10%; /* = width for a 1:1 aspect ratio */
  margin: 0 .5%;
  overflow: hidden;
}

/* square layout adapted from http://jsfiddle.net/webtiki/MpXYr/3/embedded/result/ */
.square {
  float: left;
  position: relative;
  width: 24%;
  padding-bottom: 22%; /* = width for a 1:1 aspect ratio */
  margin: .5%;
  overflow: hidden;
}

.content {
  position: absolute;
  height: 100%; /* = 100% - 2*5% padding */
  width: 100%; /* = 100% - 2*5% padding */
  padding: 5%;
  font-size: 20px;
}
.table{
  display: table;
  width: 100%;
  height: 100%;
}
.table-cell{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.activeInterval {
  color: white;
  background-color: sienna;
  font-size: 40px;
}
.backgroundNormal {
  background-color: bisque;
}
.backgroundReverse {
  background-color: SADDLEBROWN;
}

.navbar {
  width: 100%;
  text-align: center;
}
.navbar .footer-button {
  float: none;
  display: inline-block;
  margin: 15px 0
}
.navbar .floatRight button {
  margin: 0 0 10px 10px;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.footerCentered {
  width: 50%;
  margin: 20px auto 0 auto;
  font-size: 20px;
  line-height: normal;
}
.footerSection {
  width: 33%;
}
.navbar-fixed-bottom {
  padding: 10px;
}
.timeLabel {
  font-size: 15px;
  font-weight: bold;
}
.timeValue {
  width: 35px;
  text-align: right;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  padding-left: 10px;
}
.timeBlock {
  clear: both;
  text-align: center;
  padding: 15px 0;
}